[Unit]
Description=Sunsaver data collector
Requires=redis.service
After=redis.service

[Service]
Type=simple
ExecStart=/home/brian/modbus-redis/sunsaver

[Install]
WantedBy=multi-user.target
